.article-background {
  height:75vh;
  //background: rgb(65, 117, 6);
}

.container{
  width:90%;
}

.article-header{
  font-size: 0.8rem;
}

p{font-size:0.7rem;
}

.article-footer{
  margin-bottom: 15vh;
}