@import "./styles/variables.scss";
@import "./styles/base.scss";

.site-container {
  font-size: 16px;
  height: 85vh;
  width: 100vw;
  // opacity: 0;
  background: $default-background-color;
  border-radius: $default-border-radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(12, 1fr);

  a {
    color: $default-white;
    text-decoration: none;
    font-size: 16px;
    // height: 80vh;
    // width: 25%;
    // margin: 2vw;
    background: $default-background-color;
    border-radius: $default-border-radius;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    //.article-card__Society,
    //.article-card__Science,
    //.article-card__Criminal {
    //  // height: 90%;
    //  width: 90vw;
    //  // display: flex;
    //  // margin: 2vw;
    //  // cursor: pointer;
    //  // transition: all ease 0.4s;
    //  // position: relative;
    //
    //  // .article-card__Society {
    //  //   grid-column-start: 2;
    //  //   grid-column-end: 4;
    //  // }
    //  // .article-card__Science {
    //  //   grid-column-start: 5;
    //  //   grid-column-end: 8;
    //  // }
    //  // .article-card__Criminal {
    //  //   grid-column-start: 9;
    //  //   grid-column-end: 12;
    //  // }
    //  .article-image {
    //    overflow: hidden;
    //  }
    //  .article-image img {
    //    max-width: 100%;
    //    height: auto;
    //    border-radius: 20px 20px 0 0;
    //  }
    //
    //  .article-content {
    //    height: 70%;
    //
    //    background: $default-navigation-color;
    //    border-radius: 0 0 20px 20px;
    //
    //    .card-category {
    //      display: block;
    //      color: $default-green;
    //      font-size: 24px;
    //      // margin: auto;
    //      // margin-left: 0 auto;
    //      position: absolute;
    //      left: 50%;
    //      padding: 0.5rem;
    //      background: $default-background-color;
    //      border-radius: $default-border-radius;
    //      transform: translate(-50%, -50%);
    //    }
    //
    //    .class-title {
    //      display: none;
    //      // display: block;
    //    }
    //
    //    // .card-excerpt {
    //    //   display: block;
    //    //   font-size: 17px;
    //    //   margin: 0 0 0 0;
    //    // }
    //  }
    //}
  }
}

