.article-container {

  .read-content-container {
    background-color: rgb(246, 244, 244);
    width: 60%;

    .article_paragraph {
      font-size: 1.1rem;
      width: 100%;
      padding: 10px;
    }

    .article-footer {
      margin-top:2rem;
      margin-bottom: 10vh;
    }

  }
}


