@import "./styles/variables.scss";

.btn {
  text-decoration: none;
  // margin-top: 5vh;
  padding: 8px 20px;
  border-radius: 6px;
  outline: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  background-color: $default-green;
  transition: all 0.5s ease-out;
}

.btn:hover {
  // padding: 10px 22px;
  transition: all 0.5s ease-out;
  background-color: rgb(65, 117, 6);
  // color: #fff;
  // font-weight: bold;
  // border-radius: 12px;
  // border: 6px solid $default-green;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 45px rgba(0, 0, 0, 0.22) 0px 20px 18px;
}

@media screen and (max-width: 960px) {
  .btn {
    display: flex;
    // margin-top: 5vh;
    padding: 8px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    background-color: $default-green;
  }
}

@media (min-width: 1200px) {
  .btn {
    // margin-top: 5vh;
    padding: 10px 14px;
    border-radius: 30px;

    font-size: 30px;
  }
}
