
.card-deck {

}

.card {
  //background-color: rgb(246, 244, 244);
  margin:2vh;
  width: 45vw;
  height: 20vh;

  .card-img-background {
    height:25vh;
    border-radius: 5vh 5vh 0 0;
    background-color: rgb(36, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;

    .card-img-top {
      display: block;
      height: 50%;
      width: 50%;
    }
  }

  .card-body {
    height:5vh;
    border-radius: 0 0  5vh 5vh;
    background-color: rgb(65, 117, 6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    h5{
      font-size:1.5rem;

    }
  }
}


// Small	sm	≥576px
@media (min-width: 576px) {
  .card-deck {
display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    //background-color: rgb(246, 244, 244);
    margin:2vh;
    width: 40vw;
    height: 20vh;
  }


}
// Medium	md	≥768px
@media (min-width: 768px) {
  .card-deck {
  }

  .card {
    width: 25vw;
    height: 40vh;

    .card-img-background {
      .card-img-top {

      }
    }
    .card-body {
      h5{
        font-size:2rem;
      }
    }
  }

}
// Large	lg	≥992px
@media (min-width: 922px) {

}
// Extra large	xl	≥1200px
@media (min-width: 1200px) {

}
