
.card-deck {

}

.card {
  margin:5vh;
  width: 50vw;
  height: 20vh;

  .card-img-background {
    border-radius: 5vh 5vh 0 0;
    background-color: rgb(36, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;

    .card-img-top {
      display: block;
      height: 60%;
      width: 60%;
    }
  }

  .card-body {
    border-radius: 0 0  5vh 5vh;
    background-color: rgb(65, 117, 6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    h5{
      font-size:1.5rem;

    }
  }
}



