@import "./styles/variables.scss";
@import "/src/components/styles/base.scss";
@import "/src/components/styles/animations.scss";

.MembershipFormGoogle {
  animation-name: start;
  animation-duration: 2s;
}

.membership-form-container {
  height: 85vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  background-color: $default-background-color;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
  margin-top: 2.5vh;
  font-size: 16px;

  .form-containter__header {
    margin: 10px auto 20px auto;
    .form-containter__h1 {
      margin: 20px;
    }
    .form-containter__h3 {
      margin: 10px;

      .form-container__download {
        padding: 10px;
        color: $default-green;
        font-style: bold;
      }
    }
  }

  .form-container__form {
    display: flex;
    flex-direction: row;
    width: 100%;

    .form-container__left-form {
      width: 50%;
      flex-direction: column;
      background-color: rgba(65, 117, 6, 0.7);
      border-radius: $default-border-radius;
      box-shadow: $default-box-shadow;

      .form-container__form-inputs {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .form-label {
          display: inline-block;
          font-size: 1.2rem;
          margin-bottom: 10px;

          color: #fff;
        }

        .form-container__input {
          display: block;
          padding-left: 10px;
          outline: none;
          border-radius: 2px;
          height: 30px;
          width: 100%;
          border: none;
        }

        .form-input-message {
          /* display: flex; */
          display: block;
          padding-left: 10px;
          outline: none;
          border-radius: 2px;
          min-height: 80px;
          width: 100%;
          border: none;
        }
      }
    }

    .form-container__right-form {
      width: 50%;
      flex-direction: row;
      background: $default-black;

      .form-container__form-inputs {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .MembershipFormGoogle {
    margin-top: 10givh;
  }
}
