@import "./styles/variables.scss";
@import "/src/components/styles/base.scss";
@import "/src/components/styles/animations.scss";

.QRCode-container {
  position: fixed;
  left: 50vw;
  transform: translate(-50%);
  bottom: 5vh;
  height: 22vh;
  width: 22vh;
  margin: auto;
  background-color: $default-white;

  animation-name: start;
  animation-duration: 2s;

  .QRCodePicture {
    height: 100%;
    width: 100%;
  }
}
