.home,
.articles,
.about,
.membership,
.contact-us,
.subscribe,
.news,
.society,
.science,
.criminal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-size: 3rem;
  animation-name: start;
  animation-duration: 0.7s;
}

p {
  margin: 30px 0 0 30px;
  background-color: rgba(28, 27, 27, 0.8);
  border-radius: 20px;
  padding: 20px;
  font-size: 4rem;
}

.home {
  background-image: url("./images/web/WEB-Home-picture.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: flex-start;
}

.home__article {
  background: rgba(28, 27, 27, 0.5);
  border-radius: 20px;
  width: 25vw;
  margin-right: 5vw;
  margin-top: 8vh;
  padding: 20px;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  animation-name: start;
  animation-duration: 3s;
}

.home__article-input {
  max-width: 100%;
  margin: 4vh 0 0 0;
  background-color: rgba(28, 27, 27, 0.8);
  border-radius: 20px;
  padding: 12px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  outline: none;
}

.articles {
  background-image: url("./images/web/WEB-Articles-picture.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about {
  background-image: url("./images/web/WEB-About-picture.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.about__fotoContainer__creatorFoto {
  height: 70vh;
  border-radius: 25px;
  margin-right: 5vw;
  animation-name: start;
  animation-duration: 1.5s;
}

.about__creator {
  max-width: 40vw;
  font-size: 16px;
  margin: 0;
  background-color: rgba(28, 27, 27, 0.8);
  border-radius: 20px;
  padding: 40px;
  animation-name: start;
  animation-duration: 2s;
}

.about__creator h1 {
  font-size: 30px;
}

.about__creator h4 {
  font-size: 15px;
  padding: 10px;
}

.about__creator article {
  font-size: 15px;
  padding: 10px;
  line-height: 22px;
}

.about__creator h3 {
  margin-top: 15px;
}

.about__creator__sign {
  margin: 0 0 0 10px;
  padding: 0;
  height: 20px;
  width: 60px;
}

.membership {
  background-image: url("./images/web/WEB-Membership-picture.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.membership p {
  margin: 30px 30px 0 0;
  background-color: rgba(28, 27, 27, 0.8);
  border-radius: 20px;
  padding: 20px;
  font-size: 4rem;
  /* color:black; */
}

.contact-us {
  background-image: url("./images/web/WEB-ContactUs-picture2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.subscribe {
  background-image: url("./images/web/WEB-Subscribe-picture.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.subscribe__form {
  position: fixed;
  top: 10vh;
  right: 5vw;
}
.subscribe__form button {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary);
}
.subscribe__form button:hover {
  padding: 6px 18px;
  transition: all 1s ease-out;
  background-color: #fff;
  color: var(--primary);
  border-radius: 4px;
  border: 2px solid var(--primary);
}

.subscribe__form input {
  padding: 8px 20px;
  border-radius: 6px;

  font-size: 30px;
  color: #242222;
  cursor: pointer;
  background-color: #fff;
}

.news {
  background-image: url("./images/web/WEB-News-picture.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.society {
  background-image: url("./images/web/WEB-Society-picture.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  justify-content: center;
  align-items: flex-start;
}

.science {
  background-image: url("./images/web/WEB-Science-picture.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.criminal {
  background-image: url("./images/web/WEB-Criminals-picturejpg.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

@media screen and (max-width: 960px) {
  .home,
  .articles,
  .about,
  .membership,
  .contact-us,
  .subscribe,
  .news,
  .society,
  .science,
  .criminal {
    justify-content: center;
  }

  .home {
    background-image: url("./images/mobile/MOBILE-Home-picture.jpg");
  }
  .articles {
    background-image: ur("./images/mobile/MOBILE-Articles-picture.jpg");
  }
  .about {
    background-image: url("./images/mobile/MOBILE-About-picture.jpg");
  }
  .membership {
    background-image: url("./images/mobile/MOBILE-Membership-picture.jpg");
  }
  .contact-us {
    background-image: url("./images/mobile/MOBILE-ContactUs-picture2.jpg");
  }
  .subscribe {
    background-image: url("./images/mobile/MOBILE-Subscribe-picture.jpg");
  }

  .home__article {
    /* display: none; */
    position: fixed;
    top: 12vh;
    width: 80vw;
    height: 70vh;
    margin: 10vh auto;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    animation-name: start;
    animation-duration: 4s;
  }

  .home__subscribeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home__article__home {
    font-size: 18px;
  }

  .membership p {
    margin: 5vh 0 0 0;
    font-size: 3rem;
  }
}
