@import "./src/components/styles/variables";

// Media Query break points

// X-Small	None	<576px
// Small	sm	≥576px
// Medium	md	≥768px
// Large	lg	≥992px
// Extra large	xl	≥1200px
// Extra extra large	xxl	≥1400px
// X-Small	None	<576px




a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: $default-green;
}

.home {
  background-image: url("./assets/images/web/WEB-Home-picture.jpeg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;

}

.about, .team-container, .documents-container, .history-container, .contact-us-container, .society, .contact, .about-container, .projects, .articles{
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-animation{
  animation-name: start;
  animation-duration: 2s;
}

.focus {
  transition: transform 0.3s;
}

.focus:hover {
  transform: scale(1.03);
}

// Small	sm	≥576px
@media (min-width: 576px) {
  .home {
    //background-image: url("./images/web/WEB-Home-picture.jpeg");
    background-image: url("./assets/images/web/WEB-Home-picture.jpeg");
    background-position: center;
    height:79.5vh;
  }
}
// Medium	md	≥768px
@media (min-width: 768px) {

}
// Large	lg	≥992px
@media (min-width: 922px) {
  .container-projects {
    background-color: green;
    width: 30%;
    height: 60%;
    border-radius: 10%;}
}
// Extra large	xl	≥1200px
@media (min-width: 1200px) {

}












