// Media Query break points

// X-Small	None	<576px
// Small	sm	≥576px
// Medium	md	≥768px
// Large	lg	≥992px
// Extra large	xl	≥1200px
// Extra extra large	xxl	≥1400px

// X-Small	None	<576px

body{min-height:100vh;}

.home {
  background-image: url("./images/mobile/MOBILE-Home-picture.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 75vh;
  animation-name: start;
  animation-duration: 0.7s;


}

.about, .team-container, .documents-container, .history-container, .contact-us-container, .society {

  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.articles {
  height: 75vh;
  animation-name: start;
  animation-duration: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;

}

.background-container{
height:75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3{margin:3vh;}

  .container-projects{
    margin:5vh;
    background-color: rgb(36, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height:60%;
    border-radius:10%;

    .projects-icon{
      margin:5vh;
      height:60%;
      width: 60%;
      color:white;
    }
    h4{color:white;
    margin: 3vh;
    }
  }
}



// Small	sm	≥576px
@media (min-width: 576px) {
  .home {
    background-image: url("./images/web/WEB-Home-picture.jpeg");
    justify-content: center;
    align-items: center;

    .home__article {
      // margin: auto;
      width: 80vw;
      font-size: 1.4rem;

      .home__subscribeForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        .home__article-input {
          margin: 4vh 0 4vh 0;
        }
      }
    }
  }
}

// Medium	md	≥768px
@media (min-width: 768px) {
  .home {
    flex-direction: row-reverse;
    justify-content: right;
    align-items: flex-start;
    .home__article {
      margin-top: 5vh;
      margin-right: 5vw;
      width: 25vw;
      font-size: 1.2rem;
      .home__subscribeForm {
        display: flex;
        flex-direction: column;
        align-items: right;
        .home__article-input {
          margin: 4vh 0 4vh 0;
        }
      }
    }
  }

  .subscribe {
    // background-image: url("./images/mobile/MOBILE-Subscribe-picture.jpg");
    background-image: url("./images/web/WEB-Subscribe-picture.jpg");

    h2 {
      width: 50%;
    }
  }
}

// Large	lg	≥992px
@media (min-width: 922px) {
  .home {
    .home__article {
      width: 25vw;
      max-height: 50vh;
      font-size: 1.4rem;
    }
  }

  .subscribe {
    // background-image: url("./images/mobile/MOBILE-Subscribe-picture.jpg");
    background-image: url("./images/web/WEB-Subscribe-picture.jpg");

    h2 {
      width: 40%;
      margin-top: 10vh;
      margin-right: 3vw;
    }
  }
}

// Extra large	xl	≥1200px
@media (min-width: 1200px) {
  .home {
    .home__article {
      max-height: 60vh;
      padding: 30px;

      font-size: 1.7rem;

      .home__subscribeForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        .home__article-input {
          margin: 4vh 0 4vh 0;
        }
      }
    }
  }
}












